<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
        <key>ITSAppUsesNonExemptEncryption</key>
        <false/>
        <key>UIStatusBarStyle</key>
        <string>UIStatusBarStyleDarkContent</string>
        <key>UIAppFonts</key>
        <array>
            <string>NotoSansJP-Medium</string>
            <string>NotoSansJP-Bold</string>
            <string>NotoSansJP-Regular</string>
        </array>
        <key>NSCalendarsUsageDescription</key>
        <string>We need access to your calendar to create and manage events.</string>
    </dict>
</plist>

